* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 500px;
    height: auto;
}

a {
    color: cornflowerblue;
}
    